.w3-button {
    width:auto;
    border-radius: 6px;
}
.profile{
    background-color:white;
}
.experience{
    background-color:antiquewhite;

}
.header{
    text-align: center;
    color: rgb(2, 82, 90);
}
.HL2{
    color: rgb(2, 82, 90);
    font-size: 25px;
}
#cntprofile{
    display: flex;
}

#aboutme{
    flex:1;
}
#img{
    padding-top: 14px;
    margin-left: 250px;
    flex:1;
}
#detail{
    flex:1;
}
#cntexp{
    display: flex;
}
#UIT{
    flex:1;
}
#infsystem{
    flex:2;
}
.skills{
    display: flex;
}
.skill1{
    flex:1;
}
.skill2{
    flex:1;
    float: right;
}
.skill3{
    flex:1;
}
.skill4{
    flex:1;
}
.linkGithub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkpfGithub{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}