.w3-button {
  width:auto;
  border-radius: 6px;
}
#profile{
  background-color:white;
}
#experience{
  background-color:antiquewhite;

}
.header{
  text-align: center;
  color: rgb(2, 82, 90);
}
.HL2{
  color: rgb(2, 82, 90);
  font-size: 25px;
}
#cntprofile{
  display: flex;
}

#aboutme{
  flex:1;
}
#img{
  padding-top: 14px;
  margin-left: 250px;
  flex:1;
}
#detail{
  flex:1;
}
#cntexp{
  display: flex;
}
#UIT{
  flex:1;
}
#infsystem{
  flex:2;
}
.skills{
  display: flex;
}
.skill1{
  flex:1;
}
.skill2{
  flex:1;
  float: right;
}
.skill3{
  flex:1;
}
.skill4{
  flex:1;
}
.linkGithub{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkpfGithub{
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.sideNav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(7, 7, 7);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  transition: 0.3s;
}
.sideNav a:hover {
  color: rgb(18, 72, 54);
  background-color: #ffffff;
}
.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
button {
  padding: 15px;
  background-color: rgb(1, 1, 1);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  border-radius: 2%;
}
button:hover{
  background-color: #350505;
  cursor: pointer;
}

.main-content{
  transition: 0.5s;
  padding: 10px;
}